vendor
node_modules
.env
.env.*
!.env.example
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/*
!storage/app/.gitkeep
.git
.phpunit.cache
tests
